.header {
    display: block;
    margin: 4rem 0;
    display: flex;
}
.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    background: rgb(60,112,157);
background: linear-gradient(51deg, rgba(60,112,157,1) 0%, rgba(34,65,108,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin: 0; padding: 0;
    flex: 1;
}
p {
    font-family: 'Ubuntu', sans-serif;
    color: var(--text);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.header .nav {
    list-style-type: none;
    margin: 0; padding: 0;
    display: flex;
    align-items: center;
}
.header .nav li {
    display: inline-block;
    background-color: #376F95;
    padding: 0.7rem 1.4rem;
    color: #eee;
    margin-left: 0.2rem;
    border: 1px solid #376F95;
    border-radius: 3px;
    transition: background-color 0.1s, color 0.1s;
}

.header .nav li.secondary {
    background-color: transparent;
    border: 1px solid #376F95;
    color: #376F95;
}

.header .nav li:hover {
    background-color: #316386;
    color: #eee;
}

.header a {
    text-decoration: none;
    color: unset;
}